*{
    margin:0;
    padding:0;

    box-sizing:border-box;
}

body{
    width:100%;
    height:100vh;

    background:#BCAAA4;
}

.container{
    width:100%;
    height:100%;

    display:flex;

    justify-content: center;
    align-items: center;
}

.mainContainer{
    width:90%;
    height:48%;

    display:flex;
    
    justify-content: center;
    align-items: center;
}

.card{
    position: relative;

    width:240px;
    height:320px;
    margin:20px;

    border-radius:10px;

    box-shadow: rgba(0, 0, 0, 0.66) 5px 30px 60px 0, inset #eee 0 0 0 5px, inset #000 0 0 0 7px;
    background-color: #eee;

    overflow:hidden;
}

.card:hover{
    transition:.6s cubic-bezier(0.23, 1, 0.32, 1) !important;
    border:1px solid #eee;
}

.card:hover .bg{
    transition:.6s cubic-bezier(0.23, 1, 0.32, 1) !important;
}

.bg{
    position:absolute;
    top:-25%;
    left:-25%;
    opacity:0.9;
    /* z-index:-1; */

    width:150%;
    height:150%;
}

.bg1{
    background:url('./source/back1.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.bg2{
    background:url('./source/back2.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.bg3{
    background:url('./source/back3.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.bg4{
    background:url('./source/back4.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}